
<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="x_panel">
    <div class="card">
    <div class="card-header">
      Pie Chart
      <div class="card-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-block">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>
    </div>
</div>
