<div class="jumbotron">


  <div class="row">

    <div class="col-md-6 col-md-offset-5">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="tcktNo">Hall Ticket Number</label>
          <input type="number"  class="form-control" #tcktNoInput id="tcktNo" placeholder="Hall Ticket Number">
        </div>
        <button type="button" class="btn btn-primary" (click)="srchTcketNumber()">Search</button>
      </form>
    </div>

  </div>


</div>
